{:deps {org.clojure/clojure  {:mvn/version "1.12.1"}
        nurt/nurt-core       {:local/root "../nurt-core"}
        msolli/proletarian   {:mvn/version "1.0.115"}}

 :paths ["src"]

 :aliases
 {:build
  {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.10.5"
                                                  :git/sha "12aced2"}
                slipset/deps-deploy              {:mvn/version "0.2.2"}}
   :ns-default build}

  :test
  {:extra-paths ["test"]
   :extra-deps  {io.github.metabase/hawk        {:mvn/version "1.0.7"}
                 ch.qos.logback/logback-classic {:mvn/version "1.5.17"
                                                 :exclusions [org.slf4j/slf4j-api]}}
   :exec-fn     mb.hawk.core/find-and-run-tests-cli
   :exec-args   {:exclude-directories [".clj-kondo" "resources"]}}}}
